<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Angular Demo</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="style.css">
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="node_modules/angular-route/angular-route.min.js"></script>
	<script src="scripts.js" type="text/javascript"></script>

</head>
<body ng-controller="MainController">
	<div class="container" style="max-width:600px">
		<h1 class="text-center text-info">Add A Task</h1>
		<input type="hidden" ng-model="taskId">
		<input type="text" class="form-control alert-heading" ng-model="taskName" ng-keyup="searchEnter($event)" placeholder="Enter Task Name">

		<button  ng-click="submitTask()" class="btn btn-secondary">{{ buttonText }} </button>

		<div class="taskLists">
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#allTasks" aria-controls="allTasks" role="tab" data-toggle="tab">all Tasks</a>
					</li>
					<li role="presentation">
						<a href="#completedTask" aria-controls="completedTask" role="tab" data-toggle="tab">completed Task</a>
					</li>
					<li role="presentation">
						<a href="#pendingTask" aria-controls="pendingTask" role="tab" data-toggle="tab">pending Task</a>
					</li>
				</ul>
			
				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="allTasks">
						<div class="panel panel-info">
							<!-- Default panel contents -->
							<div class="panel-heading"><h3>Task Lists</h3></div>
							<div class="panel-body">
								<p>All tasks are shown bellow</p>
							</div>
						
							<!-- Table -->
							<table class="table">
								<thead>
									<tr>
										<th> </th>
										<th>#</th>
										<th>Task Name</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="task in tasks track by $index" ng-class="{'label-warning done-false': task.status == '0' , 'label-success done-true': task.status == '1' } ">
										<td><input type="checkbox" ng-checked="task.status == '1' " ng-click="changeStatus(task.taskId)"></td>
										<td>{{ task.taskId }}</td>
										<td><span ng-model="task.taskName">{{ task.taskName }} </span></td>
										<td> <a href="javascript:void(0)" class="glyphicon glyphicon-pencil" ng-click="editTask(task.taskId)"></a></td>
										<td><a href="javascript:void(0)" class="glyphicon glyphicon-trash" ng-click="deleteTask(task.taskId)"></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="completedTask">
						<div class="panel panel-info">
							<!-- Default panel contents -->
							<div class="panel-heading"><h3>Task Lists</h3></div>
							<div class="panel-body">
								<p>All tasks are shown bellow</p>
							</div>
						
							<!-- Table -->
							<table class="table">
								<thead>
									<tr>
										<th> </th>
										<th>#</th>
										<th>Task Name</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="task in tasks track by $index" ng-show="task.status== '1'" ng-class="{'label-warning done-false': task.status == '0' , 'label-success done-true': task.status == '1' } ">
										<td><input type="checkbox" ng-checked="task.status == '1' " ng-click="changeStatus(task.taskId)"></td>
										<td>{{ task.taskId }}</td>
										<td><span ng-model="task.taskName">{{ task.taskName }} </span></td>
										<td> <a href="javascript:void(0)" class="glyphicon glyphicon-pencil" ng-click="editTask(task.taskId)"></a></td>
										<td><a href="javascript:void(0)" class="glyphicon glyphicon-trash" ng-click="deleteTask(task.taskId)"></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="pendingTask">
						<div class="panel panel-info">
							<!-- Default panel contents -->
							<div class="panel-heading"><h3>Task Lists</h3></div>
							<div class="panel-body">
								<p>All tasks are shown bellow</p>
							</div>
						
							<!-- Table -->
							<table class="table">
								<thead>
									<tr>
										<th> </th>
										<th>#</th>
										<th>Task Name</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="task in tasks track by $index" ng-show="task.status== '0'" ng-class="{'label-warning done-false': task.status == '0' , 'label-success done-true': task.status == '1' } ">
										<td><input type="checkbox" ng-checked="task.status == '1' " ng-click="changeStatus(task.taskId)"></td>
										<td>{{ task.taskId }}</td>
										<td><span ng-model="task.taskName">{{ task.taskName }} </span></td>
										<td> <a href="javascript:void(0)" class="glyphicon glyphicon-pencil" ng-click="editTask(task.taskId)"></a></td>
										<td><a href="javascript:void(0)" class="glyphicon glyphicon-trash" ng-click="deleteTask(task.taskId)"></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>